@if (userService.isUserLoggedIn()) {
    <mat-sidenav-container class="h-100">
      <mat-sidenav class="p-2" style="width: auto; background-color: #262626;" mode="side" opened>
        <mat-list role="list">
          @for (item of items; track $index) {
            <mat-list-item class="side-menu-item" role="listitem" [routerLink]="[item.routeTo]">
              <div class="px-3 mt-3">
                @if (item.name == 'Pending Leave Requests') {
                  <p matBadge="{{this.leaveService.noOfPendingLeaveRequests}}" matBadgeColor="primary" style="color: aliceblue;">
                    {{item.name}}
                  </p>
                }@else {
                  <p style="color: aliceblue;">
                    {{item.name}}
                  </p>
                }
                
              </div>
            </mat-list-item>
          }
          </mat-list>
      </mat-sidenav>
      <mat-sidenav-content style="background-color: #caf1f1" class="p-3">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    </mat-sidenav-container>
  }