
<div class="container-fluid d-flex justify-content-center align-items-center" style="background-color: #caf1f1; height:91vh;">
   <mat-card class="p-2 shadow-lg rounded-2 " style="width: 400px;">
        <h3 class="text-center my-3">Login<mat-icon>security</mat-icon></h3>
      <mat-card-content>
         <form (ngSubmit)="login()">
          <mat-form-field class="mb-3 w-100">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            @if (email.invalid || email.dirty || email.touched) {
              <mat-error>{{getEmailErrorMessage()}}</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="mb-3 w-100">
            <mat-label >Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" placeholder=""  [formControl]="password" required>
            @if (password.invalid || password.dirty || password.touched) {
              <mat-error>{{getPasswordErrorMessage()}}</mat-error>
            }
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
            <button type="submit" class="btn btn-primary w-100 my-2" [disabled]="password.invalid || email.invalid">Login</button>
         </form>
      </mat-card-content>
    </mat-card>
</div>

